body {
  background: linear-gradient(-180deg, #ffffe6, #b3c6ff, #ffffe6);
}

#title {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

#description {
  display: flex;
  justify-content: center;
  margin: -20px;
}

#survey-form {
  border: 10px solid #ebfaeb;
  border-radius: 30px;
  background-color: white;
  padding: 50px;
  margin: 50px;
}

#name-label {
}

#name {
}

#email-label #email {
}

#comments-box {
  width: 300px;
  height: 100px;
}

#submit:hover {
  background-color: #b3c6ff;
}

#submit {
  width: 100px;
  height: 30px;
}

footer {
  color: gray;
  display: flex;
  justify-content: center;
}

.labels {
  display: inline-block;
  text-align: right;
  width: 45%;
  vertical-align: top;
}

.right-tab {
  display: inline-block;
  text-align: left;
  width: 50%;
}

div {
  text-align: right;
  width: 50%;
}
